h1{
    color: #DEBACE;
}
h3{
    color: #DEBACE;
}

h5{
    color: #EEEEEE;
}

h4{
    color: #EEEEEE;
}

img {
height: 150px;
border-radius: 100%;
}

body{
    background-color: #222831;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EEEEEE;
    border-width: 5px;
    width: 5%;
}